[2017-03-28 07:12] wisn opened #1 "Announce Summer of Haskell on this website instead of Reddit"
Why the update about Summer of Haskell is announced on Reddit instead of this website? In Indonesia, Reddit is blocked by the government. So, it's would be really helpful if all about Summer of Haskell informations are stored here. Thanks!

[2017-03-28 09:05] jaspervdj commented on #1
Hey @wisn,

We posted about the update on Summer of Haskell on Reddit  -- but Reddit by no means the "official" or only channel.  We indeed plan to store all information on this website but we will also continue to send out updates on Reddit, Twitter (<https://twitter.com/haskellorg>) and of course the Haskell-Cafe mailing list (<https://mail.haskell.org/mailman/listinfo/haskell-cafe>).

[2017-03-28 09:31] wisn commented on #1
I see...
I do love to help to update this website. So, any information will be available as soon as possible. Let me know if it's something to do.

[2017-04-01 07:09] wisn opened #2 "Use Materialize CSS Framework"
I do love to use Material design for Summer of Haskell website. May I?

[2017-04-01 10:55] wisn commented on #2
Currently, it's looks like this.

![screenshot from 2017-04-01 17-54-15](https://cloud.githubusercontent.com/assets/8147926/24578127/473c91be-1704-11e7-84f1-4e5cd4fab8a5.png)

This is the main *navbar* and the home page header.

[2017-04-04 17:26] jaspervdj commented on #2
Thanks for the  effort, but I'd prefer to keep the site very simple if possible, so I think it's better not to use a framework right now.

[2017-04-04 17:26] #2 closed

[2017-04-05 12:32] jaspervdj commented on #1
Hey @wisn, after giving this some thought I've added a `/news.html` page to this website which mirrors the announcements.  That should solve the problem.  :-)

[2017-04-05 12:32] #1 closed

[2017-04-05 12:40] wisn commented on #1
Thanks, @jaspervdj!

[2017-04-18 14:39] Quentin-L opened #4 "implement front-end for ghci debugger (project idea"
As the title suggests, implement a front-end for ghci so that users can add break points interactively. Probably do it by adding a new mode for ghci so that when users type a specific command (`:debug <file>`, I think) , they will be promoted into the source code they load into ghci and then add break points. I don't know how to implement this but I guess it would be challenging and interesting.

[2017-04-19 03:48] #4 closed

[2017-04-27 14:24] tfausak opened #6 "Add a feed?"
I would be nice to have an Atom and/or RSS feed of the news posts.

[2017-04-27 15:00] #6 closed

[2017-04-27 15:01] jaspervdj commented on #6
Thanks for the suggestion.  A feed is now available at <https://summer.haskell.org/news.xml>.

[2017-04-27 15:20] tfausak commented on #6
Wow, that was fast! Thanks!

[2017-09-16 05:27] SanketDG opened #9 "Idea for projects page"
There's this internal tool that we developed, [coala/projects](https://github.com/coala/projects) that is ready for use for any org. Its highly customizable, has no backend, and projects can be easily defined usng md files

Do take a look.

[2017-12-13 04:08] wisn opened #10 "Plan for GSoC 2018"
The GSoC 2018 has been [announced](https://opensource.googleblog.com/2017/09/announcing-google-summer-of-code-2018.html). I hope that Haskell gets fund by Google again. Is there something we, as a part of Haskell community, can do to help?

[2017-12-13 15:15] jaspervdj commented on #10
The most important thing will be to update the projects page and solicit project maintainers to add new projects.

[2017-12-25 12:00] lwm opened #11 "Project Idea: Stack"
Hi folks, I was just reading the [Final results for 2017](https://summer.haskell.org/news/2017-09-15-final-results.html) post and saw you're looking for project ideas. I've lately been fishing around for funding to allow people to hack on Stack, for example [the MOSS programme](https://groups.google.com/forum/#!topic/mozilla.moss/w6xf5O6bRG8) - I'd love to get Stack in as a GSoC project! I believe

[2017-12-25 12:03] lwm opened #12 "Project Idea: Stackage"
Just throwing this one out there without much discussion beforehand, but similarly to https://github.com/haskell-org/summer-of-haskell/issues/11, I'd love to see Stackage put forward as a project that students could contribute to. There is a group of so-called curators, a team that is working on it each week which could offer advice and support. There would be a lot of good work which might really

[2017-12-25 12:15] jaspervdj commented on #11
Yes, I would also love to have a Stack/Stackage project this year.  What we really need is a concrete idea or project for someone to work on, I'm not familiar enough with Stack to propose something like that though.  A stupid example of a concrete idea would be e.g. "add native support for producing `.deb` installers to stack".

Coincidentally, I was planning on sending out a "call for project ide

[2017-12-25 13:13] decentral1se commented on #11
Great! @jaspervdj, is there some place that lists properties of what a good project might be? I suppose so but my search-foo is failing me right now. Glad to see this taking off anyway, I'll let other Stack(age) people know about this and see what comes of it.

[2017-12-25 13:44] jaspervdj commented on #11
@lwm My current definition is:

You can find some inspiration in last year's ideas: <https://summer.haskell.org/ideas.html>.

[2017-12-26 00:29] ChShersh opened #13 "Project idea: Machine learning for compiler options"
The idea described briefly in this PDF:

* http://opensky.ucar.edu/islandora/object/siparcs%3A66/datastream/PDF/view

Projects with similar ideas are already in development for years for C++ compilers. In short: GHC has a lot of optimization options according to [user gudie](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/using-optimisation.html) including strange options like `-fm

[2017-12-26 03:47] gbaz opened #14 "Idea: Make Hackage fully CDN-aware"
We have speed and bandwidth issues with the hackage  package repository due to needing to disable the CDN for too many pages. This is because when the CDN is on, it caches things people don't expect -- in particular, things that can be updated due to user action.

There are utility functions in the hackage codebase to teach each page to send proper cache-control headers to keep the CDN from servin

[2017-12-26 10:22] jaspervdj commented on #13
I could be mistaken but I don't think GHC has _that many_ options available.  It might make sense when using `-fvia-C` and then the plethora of `C`-related flags.  Would you be willing to look into approximately how many combinations of flags there are when looking only at the Haskell ones?

[2017-12-26 10:25] jaspervdj commented on #14
This sounds good.  I can turn it into a proposal.  Would you be willing to mentor this, or do you have someone in mind?

[2017-12-26 11:06] chshersh commented on #13
@jaspervdj Thanks for your feedback on my issue!

This tool can be used to check how good experimental flags are, like this one:

[code]

The problem is not so much about number of flags. The problem is in the fact that some flags take integer parameters. Like these ones:

[code]

And ~40 more boolean flags. Maybe default set of values for these flags is not optimal. Because most of them are some

[2017-12-26 11:30] #10 closed

[2017-12-26 11:31] #9 closed

[2017-12-26 21:43] gbaz commented on #14
We can handle it between myself and @hvr with @dcoutts consulting.

(speaking of which -- any suggestions from you two for other hackage projects? finally getting revdeps in shape? maybe combined with richer search filtering and...?)

[2017-12-27 15:02] jaspervdj commented on #10
@wisn Let me know if you're interested in helping me fine-tune project ideas and poking project maintainers.  My email is on my github profile.

[2017-12-27 15:03] wisn commented on #10
@jaspervdj I'm in!

[2017-12-27 16:55] jaspervdj commented on #14
I'm closing this issue to keep things tidy but please suggest another hackage project.  :-)

[2017-12-27 16:55] #14 closed

[2017-12-28 00:03] decentral1se commented on #11
Thanks! Seems like nothing is cooking so far. Closing.

[2017-12-28 00:03] #11 closed

[2017-12-28 00:03] #12 closed

[2017-12-28 11:41] jaspervdj commented on #11
@lwm Are you sure about that?  Cabal/Hackage is probably getting a student so it feels like stack should also have a shot.  Anyway there's still a lot of time, I'll check back with you back closer to the student application period.

[2017-12-29 00:33] gbaz opened #18 "Project Proposal: Full Candidate Workflow for Hackage"
Hackage candidates currently cannot be used directly, and their UI is not very good. We would like to have new packages be uploaded as candidates by default, to improve the vetting process. But this means polishing off candidate functionality. The main issues left to do are tracked at https://github.com/haskell/hackage-server/projects/1

The first step is moving the candidate display page to the n

[2018-01-02 04:51] saurabhnanda opened #19 "Meta-discussion about 2018 setup"
- Is it the [Reddit thread](https://www.reddit.com/r/haskell/comments/7m1mum/summer_of_haskell_call_for_ideas_for_2018/)?
- Is it this repo?
- Or, is it some mailing list?

Also, what happened to the other ideas at https://summer.haskell.org/ideas.html ?

[2018-01-02 04:58] wisn commented on #19
Don't use Reddit please since in several countries (like Indonesia) blocked by the government. Can we use another platform, @jaspervdj? Several organizations use [Gitter](https://gitter.im/), [Slack](https://slack.com/), or [Zulip](https://zulipchat.com/) for their GSoC discussion.

[2018-01-02 04:59] saurabhnanda commented on #19
Actually, even this Github repo is fine, because it allows one to tag other people/orgs on Github.

[2018-01-02 05:01] gbaz commented on #19
Ideas should be submitted to the repo as PRs or tickets. There is a #haskell-gsoc channel we have used on freenode in the past. The old ideas that were deleted were the ones that were successfully completed last year, so should not serve as the basis for new proposals.

[2018-01-02 05:02] wisn commented on #19
Yes, it is fine to use GitHub. Mailing list is a bit...

[2018-01-02 05:04] saurabhnanda commented on #19
Is the old ideas page archived somewhere? Ideally everything should be archived under /2017 (or /2016).

As per [the timeline](https://summerofcode.withgoogle.com/how-it-works/#timeline) - applications for organizations will be open from 4-23 Jan. We have only two ideas till now?

[2018-01-02 05:08] wisn commented on #19
I've ask several projects.

- https://github.com/haskell-servant/servant/issues/880
- https://github.com/bos/aeson/issues/616
- https://github.com/hspec/hspec/issues/339

[2018-01-02 05:17] saurabhnanda commented on #19
I've asked one - https://github.com/lpsmith/postgresql-simple/issues/242 and also HIE (via IRC).

[2018-01-02 11:53] jaspervdj commented on #19
I also prefer using GitHub since it is easy to set up (unlike a mailing list), most people have an account already, and it's persistent (unlike Slack/IRC).

[2018-01-02 12:05] saurabhnanda commented on #19
Formally pinged HIE at https://github.com/haskell/haskell-ide-engine/issues/434

[2018-01-04 05:39] saurabhnanda commented on #19
Re-confirming we have only 2 ideas submitted formally? Btw, as per the [timeline](https://summerofcode.withgoogle.com/how-it-works/#timeline) applications for organizations open today.

[2018-01-04 06:16] gbaz commented on #19
We have some others sitting around in PRs. I don't think we need them all in until the deadline, but this is a good reminder that we should round some further ones up...

[2018-01-04 11:55] jaspervdj commented on #19
I'm hoping to have 6-8 ideas by the time we submit.  I'm a bit busy this week but will have time over the weekend to flesh things out.

[2018-01-06 13:23] #18 closed

[2018-01-06 13:46] jaspervdj opened #23 "Project ideas need a difficulty level field"
This is mentioned in the GSOC guidelines

[2018-01-07 14:15] mrkgnao commented on #13
You might want to see this by Don Stewart if you haven't:

https://donsbot.wordpress.com/2009/03/09/evolving-faster-haskell-programs/

[2018-01-07 14:35] chshersh commented on #13
@mrkgnao Thanks! This is exactly the idea I had in mind! But I wasn't aware it's already implemented for Haskell. Probably outdated, but still.

[2018-01-08 00:26] gwils opened #29 "Find mentor(s) for GHCI space leak idea"
The GHCI space leak idea at content/ideas/ghci-space-leak.md does not have any mentors listed.
We should find a mentor for the idea or delete it.

[2018-01-08 00:35] gbaz commented on #29
It is better to have mentors but not strictly necessary imho?

On Sun, Jan 7, 2018 at 7:26 PM George Wilson <notifications@github.com>
wrote:

[2018-01-08 03:14] pranjaltale16 opened #30 "Adding knowledge prerequisites field to each project (suggestion)"
How about adding the knowledge prerequisite field to each project?
Many projects require some extra knowledge associated with that project.
We can add an extra field to each project, like [this](http://clojure-gsoc.org//project-ideas/).

[2018-01-08 08:46] saurabhnanda commented on #29
I have broadcasted a message on the three related issues. Let's see if anyone is interested in mentoring students.

[2018-01-08 09:36] mpickering commented on #29
I don't think this project is very good for HSoC. The scope is too narrow and it is a difficult problem to get to grips with and make progress. I feel like projects which allow easily measurable incremental improvements are a better fit.

[2018-01-08 09:44] saurabhnanda commented on #29
**I believe that this project has a very measurable outcome -- with a big positive impact to the community.**

As to whether it is appropriate for a student in GSoC/HSoC, I will leave it to the GHC team to decide. Please feel free to remove this idea if GHC devs decide that it is not appropriate for a student (with appropriate mentoring).

[2018-01-08 15:35] ndmitchell commented on #29
I'm very keen for this to be fixed, but like @mpickering, I don't think it's a great fit for HSoC. I think it likely requires Simon Marlow level knowledge, followed by a 2 character change. It is measurable and has a positive impact, but I suspect it's just too tough and too hard going.

[2018-01-09 14:07] jaspervdj commented on #29
Okay, @ndmitchell and @mpickering know what they are talking about.

[2018-01-09 14:07] #29 closed

[2018-01-09 14:21] jaspervdj commented on #30
I don't think it's necessary.  We want our idea list to look like prose and not like a bug tracker / spreadsheet with a bunch of fields: <https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list>

As for the students, I think figuring out what they need in terms of knowledge is part of writing a good proposal.

[2018-01-09 14:25] pranjaltale16 commented on #30
True!
Sound good, I think we should close this.

[2018-01-09 14:26] saurabhnanda commented on #29
Btw, just wondering if https://github.com/haskell-org/summer-of-haskell/blob/master/content/ideas/ghc-type-system.md is also a good idea for HSoC for similar reasons?

[2018-01-09 14:38] mpickering commented on #29
I wondered the same but I think it would be ok given the right student as Richard already knows how to implement the idea. As such, he can give precise guidance to guide the right person. It will undoubtedly be difficult but I'm sure the selection committee will recognise that only a very qualified and motivated candidate could complete the project.

This is different as no one knows how to solve

[2018-01-09 14:57] saurabhnanda commented on #29
I was afraid of hearing this 😞

Is there any other way of attracting more eyeballs to this issue so that it has a higher chance of getting fixed?

[2018-01-09 15:04] ndmitchell commented on #29
Buy Simon Marlow a beer.

[2018-01-09 15:09] #30 closed

[2018-01-10 19:30] Abhiroop opened #32 "Project Idea: Representing Inaccessible Patterns using ImpossibleCases"
There has already been a discussion and a follow-up proposal for this idea here: https://ghc.haskell.org/trac/ghc/ticket/10756#comment:4

The basic gist of the idea is the ability to represent impossible cases in pattern matching like this (from Idris):

[code]
This feature is already present in languages like Idris. I am not sure about the difficulty level of the extension and if it is too trivia

[2018-01-13 10:52] alanz commented on #19
@saurabhnanda See https://github.com/haskell-org/summer-of-haskell/pull/36 for HIE

[2018-01-13 11:46] wz1000 opened #37 "Merged ideas aren't showing up on the website"
It seems many ideas that have be merged aren't showing up on the [Ideas page of the Summer of Haskell website](https://summer.haskell.org/ideas.html)

This includes https://github.com/haskell-org/summer-of-haskell/pull/15, https://github.com/haskell-org/summer-of-haskell/pull/33 and https://github.com/haskell-org/summer-of-haskell/pull/34

All I can see on the page now is:
- Implement quantified c

[2018-01-13 15:56] jaspervdj commented on #37
Thanks for the heads up!  I hadn't deployed in a while because I was merging PRs from my phone (traveling).  Should be fixed now.

[2018-01-13 15:56] #37 closed

[2018-01-30 05:17] mrkgnao opened #47 "Project proposal: implement Eisenberg's Pico in GHC as a new core language"
I'm first doing a clean implementation of Pico [here](https://github.com/mrkgnao/edible). @goldfirere has expressed interest in this proposal in an email.

Mentor possibilities: @goldfirere

[2018-02-01 14:19] jaspervdj commented on #47
Is this an idea for students to work on, our your personal student proposal?

Student proposals are not due until March 12 and they are not submitted through GitHub.

[2018-02-02 10:33] mrkgnao commented on #47
I see, sorry for the noise. This was indeed a proposal for myself.

[2018-02-02 10:33] #47 closed

[2018-02-12 21:05] wisn commented on #19
Congratulation! Haskell accepted as a mentor organization in GSoC 2018! See [here](https://summerofcode.withgoogle.com/organizations/5706672807346176/). Thank you for your hard work @jaspervdj et al.

[2018-04-24 02:31] wisn opened #70 "Typo in the News Title"
I've saw that the markdown file has been edited. However, the news post still not updated.

https://summer.haskell.org/news/2018-04-23-accepted-projects.html

[2018-12-27 18:18] #13 closed

[2018-12-27 18:19] #19 closed

[2018-12-27 18:20] jaspervdj commented on #32
@Abhiroop I'm cleaning up issues in preparation for the 2019 GSoC, but feel free to resubmit this idea!

[2018-12-27 18:20] #32 closed

[2018-12-27 18:20] #23 closed

[2019-01-08 20:31] gbaz opened #78 "idea sketch: improve option parsing and display for cabal"
This is a big refactor and I can't write exactly how it would go, but I think the new- commands don't really differentiate between local and global options for command specific help, not to mention which in general we probably could refactor the whole setup to use say extensible records or at least some sort of context monad instead of the extremely painful process we have now. @hvr @phadej @23Ski

[2019-01-08 21:19] hvr commented on #78
(speaking of refactors, we have https://github.com/haskell/cabal/wiki/Potential-Refactors which @fgaz started; but we also have this big "Cabal Monad" refactoring on the roadmap... which should probably happen or at least be taken into account for any other major refactoring such as CLI refactoring...)

[2019-01-09 04:26] theindigamer opened #79 "Project Idea: Improve GHC cold compilation times"
I've done some very preliminary investigation [here](https://www.reddit.com/r/haskell/comments/a1u9qj/monthly_hask_anything_december_2018/ecp262e).

---

GHC is an amazing compiler, with lots of optimizations to make your code run well. Unfortunately, users pay the price for this in terms of compilation time. Some initial investigation shows that when cold compiling the `containers` package, 50% o

[2019-01-09 09:01] osa1 commented on #79
CCing @tdammers who probably did the most work on this area (compile-time performance).

[2019-01-09 10:30] mpickering commented on #79
I think there is scope for a focused project about profiling but the idea needs to be refined for it to have a reasonable scope.

[2019-01-09 10:37] simonpj commented on #79
I'd be very happy to see people working on this.   Reducing compile times is THE top ask in our GHC-user surveys.

The GHC team has tended to focus on "outliers"; that is, programs where GHC takes egregiously long to compiles something, usually exposing some dark corner.  But this seldom improves average-case behaviour.

I think it'd be great to work on improving **average-case performance** of GH

[2019-01-09 10:39] saurabhnanda commented on #79
Just a wild thought -- fundraising for this goal [1] and moving it outside GSoC if it needs more commitment and people with more experience working on this problem.

[1] Goal will probably need to be defined very clearly for fundraising to be successful.

[2019-01-09 17:51] jaspervdj commented on #79
@saurabhnanda Even if we raise funds for this and do work outside of GSoC, I still think it makes sense to have this within GSoC as well -- it's a good opportunity for a student.

I agree that the idea is a bit too broad as it stands.  Perhaps we could focus this on only implementing improved profiling tools that work with a few popular packages (`containers`, `lens`, `text`, `vector`...).

[2019-01-09 17:56] MaxGabriel commented on #79
Maybe a smaller version of this project is some way to benchmark compile times and just graph that over time? So that performance regressions could potentially be identified

[2019-01-09 18:14] gbaz commented on #79
we had the ghc performance dashboard, but it seems to have gone broken? https://perf.haskell.org/ghc/

[2019-01-09 19:13] typesanitizer commented on #79
I've opened a PR with an updated proposal which is more measured - it is only about profiling and optimization is out of scope. It also focuses less on the benefits and more on the "what needs to be done in this project". Let's continue the discussion there so you can easily comment on individual lines if needed.

[2019-01-09 19:13] #79 closed

[2019-01-14 18:09] alanz opened #86 "Idea sketch : sort out haskell-ide-engine BIOS"
See https://github.com/haskell/haskell-ide-engine/issues/1053

[2019-01-14 23:17] gwils commented on #86
I'd love to see more HIE work come out of GSOC.

Since you have options for the BIOS going forward but don't know which is best, perhaps the GSOC idea could be a comparison? The student could spend some time evaluating the benefits and required work for each of the three options and then provide a proof-of-concept or partial implementation of the chosen approach.

[2019-01-15 14:20] jaspervdj commented on #86
I would also very much like to have at least one HIE project.  I think we should require at least a partial implementation of one of the three from the student.

[2019-01-15 15:29] alanz commented on #86
I think the most likely HIE project would be to integrate the new (GHC 8.8) .hie files via LSIF.  Or even just bring LSIF into hie, so that converters can be made to generate them.

[2019-01-16 19:06] alanz opened #90 "idea sketch : language server for dhall"
From http://www.haskellforall.com/2019/01/dhall-year-in-review-2018-2019.html

So, use `haskell-lsp` to construct a LSP server for dhall.  Similar to the ones for

- https://github.com/haskell/haskell-ide-engine
- https://github.com/elm-tooling/elm-language-server
- https://github.com/domenkozar/hnix-lsp

Which are all based on that library.

cc @Gabriel439

[2019-01-17 13:18] jaspervdj commented on #90
This sounds great!  @Gabriel439 would you be able to put a short proposal together?

[2019-01-27 22:28] sjakobi opened #96 "Offer the "Binary backend for Postgresql/Persistent" idea again in 2019"
I'm referring to [this idea](https://github.com/haskell-org/summer-of-haskell/commit/a7af171c93f394e4e2c198294d7af3e3518c2627#diff-f13a76b459ce796f5f6d4a09746591e0) from 2018.

I considered applying for it in 2018 but preferred doing something related to GHC in the end.

@erikd, @nikita-volkov, @MaxGabriel, would you be available as mentors again?

[2019-01-27 22:47] MaxGabriel commented on #96
Probably not—we have two interns at my company this summer so I should probably focus on them. Maybe open an issue on the persistent repo to ask about this?

[2019-01-27 23:21] erikd commented on #96
I would be willing but would like to have at least one other mentor, preferably @nikita-volkov (as the author/maintainer of Hasql) is also involved.

[2019-01-28 04:18] nikita-volkov commented on #96
I can be available in the mode of answering questions, but I must mention that I'm gonna be of limited involvement, because I'll be highly preoccupied at work.

[2019-01-30 23:42] jberryman opened #100 "Tentative proposal: take up the ImprovedLLVMBackend ticket"
https://ghc.haskell.org/trac/ghc/wiki/ImprovedLLVMBackend
https://ghc.haskell.org/trac/ghc/ticket/10074

I'm not really sure where the plan stands based on that ticket. Maybe just someone giving some love and attention to the optimizer passes would be a good project.

[2019-02-02 17:04] jaspervdj commented on #100
@jberryman Do you have any mentors in mind?  I'm happy to write up some proposal.

[2019-02-03 04:20] jberryman commented on #100
No, and sorry I'm not a student myself, I just had the thought this might be a good general focus for GSoC (sorry if this isn't constructive).

[2019-02-03 12:46] jaspervdj commented on #100
No worries, I'll ask around!

[2019-02-03 20:37] sjakobi commented on #96
Thanks for letting me know about your availability as mentors this summer!

Sadly, there hasn't been any reaction to [my call for mentors from the `persistent` community](https://github.com/yesodweb/persistent/issues/851) so far.

@erikd Would you still like to go forward with the proposal idea or does it look to risky now?

[2019-02-03 21:11] erikd commented on #96
It looks pretty risky to me at the moment.

[2019-02-04 07:13] angerman commented on #100
Looks like I tried to and then failed to actually write my comment here.  I'd rather see us pouring some resources into the bitcode generating llvm-ng backend, instead of int the textual ir backend. I'd be happy to mentor such a project if a sufficiently strong candidate applies.

[2019-02-16 00:17] Gabriella439 commented on #90
Sorry, looks like I lost track of this and missed the deadline for this :\

I'll try again for next year's Google Summer of Code

[2019-02-16 00:41] gwils commented on #90
You're still welcome to add ideas to the list. Our application is already in but that doesn't prevent us from adding project ideas.

[2019-02-16 01:50] gbaz commented on #90
Right -- the ideas are useful as long as there are students considering writing proposals!

[2019-02-22 05:36] Gabriella439 commented on #90
Where would I or the student submit the project proposal?

[2019-02-22 05:48] gwils commented on #90
Submit an "idea" as a pull request on this repo (eg. https://github.com/haskell-org/summer-of-haskell/pull/102)

A bit over a month from now, interested student(s) should write up proposal(s) based on the idea, and submit them through the GSOC system.

[2019-02-26 13:45] #90 closed

[2020-01-13 21:53] jaspervdj commented on #100
Closing this to clean up for GSoC 2020.

[2020-01-13 21:53] #100 closed

[2020-01-13 21:53] jaspervdj commented on #96
Closing this to clean up for GSoC 2020.

[2020-01-13 21:53] #96 closed

[2020-01-13 21:53] jaspervdj commented on #86
Closing this to clean up for GSoC 2020.

[2020-01-13 21:53] #86 closed

[2020-01-13 21:53] jaspervdj commented on #78
Closing this to clean up for GSoC 2020.

[2020-01-13 21:53] #78 closed

[2020-01-27 21:19] ethercrow opened #112 "Dear ImGui bindings"
Repository: https://github.com/ocornut/imgui

Dear ImGui is a mature and widely used open source library with corporate backing by Google, Blizzard, Ubisoft and others.

Many languages (but notably not Haskell) have bindings to Dear ImGui via its C API and machine-readable description of said API available here: https://github.com/cimgui/cimgui

![simple_enterprise_application](https://raw.githubu

[2020-01-28 22:02] jaspervdj commented on #112
This sounds reasonable but would need a mentor with Dear ImGui and FFI/bindings experience.

[2020-01-28 22:35] ethercrow commented on #112
@ekmett @ocharles @osa1 @glguy maybe you know someone interested in mentoring this?

[2020-02-04 10:39] dpwiz commented on #112
There's one library listed in on ImGui wiki: https://github.com/dbousamra/imgui-haskell

It's incomplete and ripe for takeover.

[2020-02-13 08:06] KushajveerSingh opened #125 "Advice for GSOC 2020"
I want to contribute to haskell as part of GSOC 2020. I have gone through the proposed ideas list. I have experience with PyTorch and fastai. So I was wondering what would be the best way for me to contribute to this project.

All my relevant experience is summarized on my website [https://kushajveersingh.github.io/ ](https://kushajveersingh.github.io/).

[2020-02-15 11:26] jaspervdj commented on #125
Hey @KushajveerSingh, please reach out to the relevant mentors directly or use the [general contact page](https://summer.haskell.org/contact.html).

[2020-02-15 11:26] #125 closed

[2021-01-17 15:27] AleXoundOS opened #131 "Real World Haskell book: inspect, systematize outdated stuff and prepare a basis for fixes"
Following "[Is Real World Haskell out of date in some ways?](https://discourse.haskell.org/t/is-real-world-haskell-out-of-date-in-some-ways/1466/3?u=alexoundos)" and improving the state of Haskell for beginners. However:

I'm not sure the amount of fixes for broken/deprecated code itself in the book is enough for a GSoC. Moreover, this may not be an optimal task for a non-professional haskeller.

[2021-01-22 19:04] abarbu opened #132 "Godot bindings & game"
Repository: https://github.com/abarbu/godot-haskell

Godot is ripe for becoming a practical platform for building games in Haskell.

The current bindings were originally constructed by [SimulaVR](https://github.com/SimulaVR/godot-haskell). I then upgraded them to the point where building games is viable. I implemented the first fully-working game, a 2D game from the Godot tutorial (Creeps). 2D gam

[2021-01-24 14:00] jaspervdj commented on #132
That sounds really good; although it seems like a lot of work, considering that the projects are supposed to be only half-time this year.  Especially "Upgrade the API to make it memory safe" may be a daunting task for students.  I suspect it's possible with the right mentorship, but it may be better to set less strict requirements.  Do you know anyone who would be able to co-mentor this project?

[2021-01-24 18:40] abarbu commented on #132
That's a fair comment about more memory safety and the fact that this year is screwed up with COVID. The API is perfectly usable without those changes, you just have to stash away some pointers. This is how the previous 2D game works and how SimulaVR does things as well. I updated the steps to focus on the 3D game which is the most fun and accessible piece.

[2021-01-27 19:52] abarbu commented on #132
@KaneTW one of the primary authors of godot-haskell will serve as a 2nd, backup, mentor.

[2021-01-28 11:20] jaspervdj commented on #132
This sounds great, thanks!  Do you want to submit this as a PR or should I take care of adding it to the website?

[2021-02-10 18:10] jaspervdj commented on #131
There is a reasonable amount of code in the examples, so I think this would probably be a big enough workload.  I'm not sure if "examples" constitute documentation; I can check with the GSoC admins to make sure.

However, I'm a worried if this would cause the examples to get out of date with the text.  Maybe we should do this on top of an existing project like this one?  https://github.com/tssm/up

[2021-03-06 05:58] wujilingfeng commented on #112
You can watch  this website https://github.com/haskell-game/dear-imgui.hs.
I haven't try this , you can tell us how about this library if you test it.

[2021-03-06 06:33] wujilingfeng commented on #112
https://github.com/haskell-game/dear-imgui.hs

[2021-03-06 14:46] ethercrow commented on #112
@ocharles @sheaf maybe you have GSoC-able ideas for the project?

[2021-03-09 19:57] ekmett commented on #112
I'm quite familiar with ImGui internals. If a body is still needed to help, let me know.

[2021-03-09 20:40] ocharles commented on #112
I'd be happy to mentor, there's plenty left to do on the haskell-game library I'm helping build

[2021-03-10 15:41] abarbu commented on #132
Just noticed that this had languished. We've made a lot of improvements to make the bindings even more fun to use.
Feel free to add it to the website. If not, I'm happy to create the PR.

[2021-03-10 18:33] jaspervdj commented on #132
@abarbu Please create a PR if you find the time, I've been a bit swamped with work stuff.

[2021-03-10 18:43] jaspervdj commented on #112
Awesome, sounds like there's more than enough support!  All we need for now is a small description to give the students some direction for their ideas.  Is anyone able to put this up in a PR?

[2021-03-21 17:56] AleXoundOS commented on #131
Yeah, why not.

[2021-04-07 09:42] runeksvendsen opened #140 "can't load framework: Cocoa"
I'm getting the error `can't load framework: Cocoa` when trying to build. Both using "modern cabal" and stack.

Here's the full cabal output:

[code]

[2022-01-07 14:41] ChiragDogra opened #141 "Improvements in UI and Logo"
## 1. The highlight of navbar items
Hightlight while hovering on the nav-items can be made more appealing

## 2. Logo for navigation
Logo of the website can be used to navigate to the homepage.

[2022-01-07 15:43] ChiragDogra commented on #141
I was trying to fix it, But I am not able to run the project on my localhost.

[2022-01-24 09:46] leesha19 commented on #141
@jaspervdj hey can i work on this issue....
i saw this project on gsoc so i wanna know are you going to participate in gsoc 2022 ..and i have knowledge of html css and js how and where i can help

[2022-01-24 09:58] jaspervdj commented on #141
Hi, yes, we are open to contributions here, but keep in mind this is just a small repository that hosts the rather simple website for GSoC -- contributions to actual Haskell libraries and applications would be vastly more valuable, for example, [HLS has a number of issued tagged "beginner"](https://github.com/haskell/haskell-language-server/labels/beginner%20friendly).  We are currently working ge

[2022-02-02 04:22] Ericson2314 opened #143 "Haskell foundation projects (structured errors, trees that grow)?"
Now the GSOC is more flexible, are projects that are more "student pitches in to longstanding volunteer effort" rather "student completes task end to end" OK?

Putting some more hours in structured errors and Trees that Grow factoring out the AST from GHC would be great projects to onboard people, because of their incremental nature.

[2022-02-02 13:35] dpwiz commented on #112
BTW, https://github.com/haskell-game/dear-imgui.hs is a thing now. It is even on [Hackage](https://hackage.haskell.org/package/dear-imgui).

[2022-02-03 19:09] jaspervdj commented on #143
@Ericson2314 I think these sound like great projects, however, to fit in the program we need to cut out some attainable end goals.  The actual projects can deviate from them somewhat, but we want to set people up with some sort of notion of what success means.  Do you think we can cut these into even smaller pieces?

[2022-02-04 05:39] Ericson2314 commented on #143
Smaller pieces is certainly no problem. For many of these GHC projects, the various parts of GHC (now made clear with the hierarchical module names!) can be tackled independently, which makes for very nice milestones.

Right now I'd roughly guess there is about month or of clear-cut tasks on each track before the "fog of war" sets in and unclear what is next. I would expect to maybe hit some snags

[2022-02-09 18:52] jaspervdj commented on #143
@Ericson2314 That sounds great! Who can help me write the ideas for these, so we can get something on the website?

[2022-02-18 16:58] sjakobi opened #150 "Project idea: Enhancing and optimizing unordered-containers"
The basic project structure could look like this:

1. Implement 2 or 3 simple API enhancements like
  * https://github.com/haskell-unordered-containers/unordered-containers/issues/55
  * https://github.com/haskell-unordered-containers/unordered-containers/issues/148
2. Fix some simple performance issues like
  * https://github.com/haskell-unordered-containers/unordered-containers/issues/155
3. Imp

[2022-02-28 18:12] jaspervdj commented on #150
I think this sounds like a great project.  I'm not sure if we can provide a physical machine but providing something the student can SSH into shouldn't be a problem.

[2022-03-01 17:36] doyougnu commented on #150
I'd be more than happy to help as an advisor in this project! Also it could make for a good source of case studies for the proposed haskell optimization handbook.

[2022-04-03 19:49] mmhat commented on #143
@Ericson2314 Hi, I am still looking for a GSoC project and I am interested in that.
I suspect it would be something in line with https://gitlab.haskell.org/ghc/ghc/-/issues/21242 but can you elaborate on what you had in mind?

[2022-04-03 20:42] Ericson2314 commented on #143
Currently @alt-romes has been spearheading further trees that grow work, but perhaps there is enough independent work that a second person could be involved.

Conversely, if you think you might instead pick a different project where there is more elbow room @adinapoli or @rae could perhaps break out some structured errors tasks, or @hsyl20 and I could explain https://gitlab.haskell.org/ghc/ghc/-/i

[2022-04-03 21:28] mmhat commented on #143
@Ericson2314 Thank you for your fast response. If the TTG story is worked on I don' t see any need to get involved there too.

Regarding structured error messages messages and the issue you linked: I am interested in those as well! I don't see how the latter is controversial yet (Thanks for the warning!) and will dig into it a bit more tomorrow.

[2022-04-05 21:49] mmhat commented on #143
@Ericson2314 @hsyl20 I had a look at #17957 (and related issues/comments in #14335, #20927 and #14597). I like the direction taken there and I'd be happy to work on that during the GSoC with one of you as a mentor. I will write a draft of an application throughout next weekend and mail it to you and it would be great if we find the time to schedule a call to get to know each other.

[2022-04-05 23:59] Ericson2314 commented on #143
OK! Very excited to hear that, @mmhat! Happy to do the call before you right the draft if that helps.

[2022-04-06 16:23] hsyl20 commented on #143
@mmhat Glad to hear that too!

To help with your draft, I have started writing a paper about GHC's refactoring about 2 years ago: https://vrac.hsyl20.fr/ghc/ghc-modular.pdf

I'll try to complete section 3 (about the refactorings we would like to see happen) before the end of the week, but as you've already read "#17957 (and related issues/comments in #14335, #20927 and #14597)" you should already

[2022-04-07 20:49] mmhat commented on #143
@hsyl20 Thank you very much for the draft you shared! It was indeed quite helpful.
From what I got from the discussions in the mentioned issues I suspect that the desired  refactorings are roughly in line with those in your comment <https://gitlab.haskell.org/ghc/ghc/-/issues/20730#note_393634> and the following ones?

[2022-04-08 17:06] Ericson2314 commented on #143
@mmhat the place to begin is finishing off the check boxes in https://gitlab.haskell.org/ghc/ghc/-/issues/17957. I think that alone could easily take you the whole summer so it's a good thing to focus on. https://gitlab.haskell.org/ghc/ghc/-/issues/20730 is best viewed as bonus material if you somehow beat the odds and finish https://gitlab.haskell.org/ghc/ghc/-/issues/17957 :)

[2022-04-09 18:39] tomjaguarpaw commented on #143
Wow, @hsyl20, this is such an amazing document! It very clearly describes the problem and a route to the solution. I love the reference to DDD.

Do you have plans to circulate it more widely?

[2022-04-11 14:02] hsyl20 commented on #143
Thanks @tomjaguarpaw! We are still working on section 3 to make the paper more constructive but then we will try to make it circulate more widely.

[2022-04-12 15:23] sjakobi commented on #150
Many thanks for the encouraging feedback, @jaspervdj and @doyougnu!

Unfortunately my plans for this summer have changed, so I probably won't have the time to mentor a GSoC project. Maybe I can do it next year.

[2022-04-12 15:23] #150 closed

[2022-04-13 21:20] Ericson2314 opened #158 "Modularizing GHC"
*In #143 @mmhat initially took an interest in "trees that grow", but given that that project already has a recent new contributor (@alt-romes), opted to do work on GHC modularization. This, however, hasn't been proposed as an HF project at this time, so #143 isn't actually a very good place to continue discussing it. Finally, as we are now well underway working to bring more awareness to this proj

[2022-04-13 21:21] Ericson2314 commented on #143
I opened https://github.com/haskell-org/summer-of-haskell/issues/158 for the modularity work we've started planning out.

[2022-04-14 17:36] jaspervdj commented on #158
This sounds awesome.

@Ericson2314 can you send me an email including the email addresses of the prospective mentors, so I can invite them to the GSoC dashboard?

@mmhat Let me know if you need anything, but be sure to register on the GSoC dashboard and submit this there :-)

[2022-04-14 17:55] Ericson2314 commented on #158
Glad to hear it!

Email is sent.

[2022-04-14 19:40] mmhat commented on #158
@jaspervdj Thank you; I will drop you a note if that is the case. I am already registered and I will submit the proposal there by the time it's done.

[2022-04-15 15:02] doyougnu commented on #150
Aww I'm sorry to hear that. For the record I think this is a great GSoC project. If its picked up next year I'll be more than happy to mentor or shepherd!

[2022-05-03 11:45] hsyl20 commented on #143
@tomjaguarpaw The paper is now released: https://www.reddit.com/r/haskell/comments/uhdu4l/modularizing_ghc_paper/

[2022-05-21 13:42] mmhat commented on #158
The project proposal got accepted :tada:
https://summerofcode.withgoogle.com/programs/2022/projects/WWgHBTde